
body {
	font-size: 16px;
	padding-top: 65px;

}
.jumbotron {
	background-image: url('');
}

#logo {
	float: left;
	padding: 0 0 0 0;
}

#facebook {
	float: left;
	padding: 0 3em 0 3em;

}

#twitter {
	float: left;
	padding: 0 3em 0 3em;
}

.secciones .container .row .col-md-3  h3 {
	text-align: center;
}
.secciones .container .row .col-md-3  p {
	text-align: justify;
}