/* Todo sobre el LANDING */

body {
	/*padding-top: 65px;*/

}

.comunidad {
	background-attachment: fixed;
	background-image: url('http://dgnest-frontend.github.io/images/mano-proyecto-3.jpg'); ;
	background-position: center center;
	background-size: cover;
	text-align: center;

}

.comunidad .container {
	padding: 3em 0 3em 0;
}

.footer {
	background-color: white;
	padding: 2em 0 2em 0;
	text-align: center;
	color: black;
	display: block;
	float: inherit;
}

.footer .social li {
	display: inline-block;

}

.footer .text {
	padding: 1em 0 0 0;
}

.jumbotron {
	background-attachment: fixed;
	background-image: url('http://dgnest-frontend.github.io/images/guy-ironman-reactor-2.jpg');
	background-position: center;
	background-size: cover;
	padding: 5em 0 10em 0;	
}

.jumbotron .container .row .col-md-4 {
	background-color: rgba(100,100,100,0.5);
	padding: 3em 2em 3em 2em;
	border-radius: 2em;

}

.i-love {
	background-color: #1531AE;
	color: white;
}

.i-love h1 {
	text-align: center;
}

#logo {
	float: left;
	padding: 0 0 0 0;
}

#header {
	color: white;
	font-size: 1.5em;
	/*padding: 5em 0 30em 0;*/
}


.secciones {
	/*background: -webkit-linear-gradient(#0266c8, #FFFFFF); /* For Safari 5.1 to 6.0 */
  	/*background: -o-linear-gradient(#0266c8, #FFFFFF); /* For Opera 11.1 to 12.0 */
  	/*background: -moz-linear-gradient(#0266c8, #FFFFFF); /* For Firefox 3.6 to 15 */
  	/*background: linear-gradient(#0266c8, #FFFFFF); /* Standard syntax */
	background-image: url('http://dgnest-frontend.github.io/images/codigo.jpg');
	padding: 5em 0 2em 0;
	color: #212121;
}
.secciones .container h2 {
	text-align: center;
	padding: 0 0 2em 0;
	position: relative;
}
.secciones .container .row .col-md-4 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
}

.secciones .container .row .col-md-4 h3 {
	text-align: center;
}
.secciones .container .row .col-md-4 p {
	text-align: justify;
}

.secciones .container .row .col-md-12 {
	text-align: center;
}

.usuarios {
	
	/*background: -webkit-linear-gradient(#0266c8, #03233d); /* For Safari 5.1 to 6.0 */
  	/*background: -o-linear-gradient(#0266c8, #03233d); /* For Opera 11.1 to 12.0 */
  	/*background: -moz-linear-gradient(#0266c8, #03233d); /* For Firefox 3.6 to 15 */
  	/*background: linear-gradient(#0266c8, #03233d); /* Standard syntax */
  	background-color: gray;
	text-align: center;
	padding: 3em 0 3em 0;
}

.usuarios .container-fluid {
	display: block;
	position: relative;
	padding: 0 0 1em 0;
}

.usuarios .container-fluid .boton {
	padding: 1.5em 0 0 0;
}

.usuarios .container-fluid .header {
	padding-bottom: 3em;
	
}

.usuarios .container-fluid .proyecto {
	background-color: white;
	display: inline-block;
	
	margin: 1em 1em 0 1em;
	border-radius: 20px;
}

.usuarios .container-fluid .proyecto img {
	height: 250px;
	width: 250px;
}

.usuarios .container-fluid .proyecto .contenido {
	text-align: left;
	color: black;
	padding: 10px 10px 10px 10px;

}
.usuarios .container-fluid .proyecto .contenido .rating {
	color: gray;
}

.usuarios .container-fluid .proyecto .contenido .user {
	display: inline-block;
}

.usuarios .container-fluid .proyecto .contenido .user img {
	height: 40px;
	width: 40px;
}

.usuarios .container-fluid .proyecto .contenido .user .username {
	display: inline-block;
}

.usuarios .container-fluid .proyecto .contenido .social {
	opacity: 0;	
	top: 180px;
	width: 250px;
	opacity: 1;
	text-align: left;
	position: relative;  	
}

.usuarios .container-fluid .proyecto .contenido .social li {
	text-decoration: none;
	display: inline-block;
}

.usuarios .container-fluid .proyecto .contenido .titulo h3 {
	font-size: 
}


/* AHORA SOBRE EL PERFIL DE USUARIO */

.pro-header .container-fluid {
	background-image: url('http://dgnest-frontend.github.io/images/portada.jpg');
	background-attachment: fixed;
	text-align: center;	
	padding: 3em 0 3em 0;	
}

.pro-header .container-fluid .pro-user .pro-user-social {
	padding: 10px 0 10px 0;
}

.pro-header .container-fluid .pro-user .pro-user-social li {
	text-decoration: none;
	display: inline-block;
}

.pro-header .container-fluid .pro-user img {
	height: 80px;
	width: 85px;
	border-radius: 50%;
}

.pro-header .container-fluid .pro-user.pro-user-name {
	font-size: 20px;
}

/*CONTENEDOR DE PROYECTOS */
.pro-proyectos .container-fluid .contenedor-titulo {
	color: #3d3d3d;
	padding: 10px 0 0 0;	
}
.pro-proyectos .container-fluid .componente {
	color: black;		
	border-radius: 20px;
	height: auto;
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin: 2px 2px 2px 2px;
}

/*.pro-proyectos .container-fluid .componente-nuevo {
	border: 1px dashed #708090;
	height: 250px;
	width: 250px;
	display: inline-block;
	margin: 5px 5px 5px 0;
	border-radius: 10px;*/
}

.pro-proyectos .container-fluid .componente .contenedor-imagen {
	
}

.pro-proyectos .container-fluid .componente .contenedor-imagen img {
	height: auto;
	width: 300px;
	border-radius: 10px;
	border: 1px solid #adadad;
}

.pro-proyectos .container-fluid .componente .contenedor-usuario {
	padding: 1px 0 2px 10px;
	border: 1px solid #adadad;
	border-radius: 10px;
	margin: 5px 0 5px 0;

}

.pro-proyectos .container-fluid .componente .contenedor-usuario .rating {
	color: #898989;
}
